@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
/***************************
	COLOR VARIABLES
***************************/
/***************************
	FONT VARIABLES
***************************/
/*================================
	SCAFFOLDING
================================*/
/*================================
	TYPOGRPAHY
================================*/
/*================================
	COMPONENTS
================================*/
/*================================
	fORM STATES & ALERTS
================================*/
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

body {
  background: #265b80;
  font-family: 'Source Sans Pro', sans-serif; }

.packages {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 10px;
  margin: 0 auto;
  max-width: 1300px; }

.package {
  flex-grow: 0;
  flex-basis: calc(((100vw - 20px) / 1) - 10px);
  min-height: calc(((100vw - 20px) / 1) - 10px);
  margin: 5px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column; }
  @media (min-width: 700px) {
    .package {
      flex-basis: calc(((100vw - 20px) / 2) - 20px);
      min-height: calc(((100vw - 20px) / 2) - 20px); } }
  @media (min-width: 1100px) {
    .package {
      flex-basis: calc(((100vw - 20px) / 3) - 20px);
      min-height: calc(((100vw - 20px) / 3) - 20px); } }
  @media (min-width: 1300px) {
    .package {
      flex-basis: calc(((1300px - 20px) / 3) - 20px);
      min-height: calc(((1300px - 20px) / 3) - 20px); } }
  .package__header {
    background: #1f3340;
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex: 0 0 auto; }
  .package__name, .package__version {
    margin: 0;
    font-weight: 400;
    font-size: 26px;
    padding: 10px; }
  .package__version {
    margin-left: auto;
    background: #274151; }
  .package__main {
    padding: 10px;
    font-size: 20px;
    line-height: 1.6;
    flex: 1 1 0;
    display: flex;
    flex-direction: column; }
  .package__stats {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: auto;
    padding-top: 15px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.75); }
  .package__issues-link {
    text-decoration: none;
    color: #e0832e;
    font-weight: 600; }
  .package__links {
    background: #D4DADE;
    padding: 10px;
    display: flex;
    align-items: center; }
  .package__github, .package__npm {
    font-size: 0;
    display: block;
    width: 30px;
    height: 30px;
    background: no-repeat 50% 50%;
    background-size: 100% auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.3s all; }
    .package__github:hover, .package__npm:hover {
      opacity: 1;
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%); }
  .package__last-published {
    margin-top: auto; }
  .package__install-cmd {
    flex: 1 1 0;
    display: flex;
    margin-right: 10px; }
    .package__install-cmd input {
      font-family: "Source Code Pro";
      font-size: 16px;
      padding: 0.4em;
      flex: 1 1 0;
      background: rgba(0, 0, 0, 0.15);
      color: rgba(0, 0, 0, 0.8);
      border: none; }
  .package__copy-cmd {
    font-size: 0;
    background: #e0832e url("../img/clipboard.svg") 50% 50% no-repeat;
    background-size: 65% auto;
    border: none;
    width: 32px; }
  .package__github {
    opacity: 0.7;
    background-image: url("../img/github.svg");
    margin-right: 10px; }
  .package__npm {
    opacity: 0.9;
    background-image: url("../img/n-large.png"); }
